.SideDrawer {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 6px;
  border: 2px solid white;
  z-index: 200;
  background-color: #028ea0;
  box-sizing: border-box;
  transition: transform 1s ease-out;
  cursor: pointer;
}

@media (max-width: 414px) {
  .SideDrawer {
    top: -100%;
    width: 140%;
    margin-left: -19%;
  }
}

.Open {
  transform: translateY(0%);
}

.Close {
  display: none;
  z-index: 1;
  transform: translateY(0);
}
