@media (min-width: 614px) {
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 70%);
  background-color: black;
  justify-content: space-evenly;
}

.gridImg {
  height: 90%;
  width: 100%;
  align-self: start;
  border-radius: 3px;
  box-shadow: 3px 5px 5px rgba(255, 255, 255, 0.2);
}

.galleryDiv {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: 100%;
  height: 600px;
}

.galleryTitle {
  text-align: center;
  font-size: 2.4rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: white;
  margin: 0;
}

.galleryTitleDiv {
  height: 8rem;
  background-color: black;
  padding-top: 2.5rem;
}

.spinMain {
  position: relative;
  height: 20rem;
}

.spinDiv {
  position: absolute;
  left: 42%;
  top: 20%;
}

.galleryMain {
  text-align: center;
  font-size: 3.3rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  margin-top: 2rem;
}

.gallerySecond {
  text-align: center;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.bottom {
  width: 80%;
  height: 1px;
  background-color: black;
  margin-left: 10%;
  margin-bottom: 1rem;
}

.upper {
  width: 80%;
  height: 1px;
  background-color: black;
  margin-left: 10%;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.galleryButtons {
  background-color: #028ea0;
  font-size: 1rem;
  border-radius: 4px;
  margin-top: 2rem;
  width: 15%;
  height: 2.8rem;
  border: none;
  outline: none;
  margin-bottom: 2rem;
  color: white;
}

.galleryButtons:hover {
  cursor: pointer;
}

.delPhoto {
  width: 8rem;
  height: 2.3rem;
  border: 2px solid red;
  border-radius: 2px;
  background-color: red;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.delPhoto:hover {
  cursor: pointer;
}

@media (min-width: 900px) {
  .gridImg {
    width: 84%;
    margin-left: 8%;
  }

  .galleryButtons {
    width: 9rem;
  }

  .galleryMain {
    margin-bottom: 0;
  }
}

@media (max-width: 800px) {
  .buttons {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .galleryButtons {
    background-color: #028ea0;
    border-radius: 4px;
    margin-top: 2rem;
    margin-left: 20%;
    width: 60%;
    height: 2.8rem;
    border: none;
    outline: none;
    margin-bottom: 0.7rem;
    font-size: 1rem;
    color: white;
  }

  .galleryMain {
    margin-bottom: 1rem;
  }
}

@media (max-width: 960px) {
  .galleryDiv {
    height: 350px;
  }

  .grid {
    grid-template-columns: repeat(1, 90%);
  }
}

@media (max-width: 420px) {
  .spinDiv {
    position: absolute;
    left: 25%;
    top: 20%;
  }
}
