.subquote {
  text-align: center;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.subquotelink {
  text-align: center;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #028ea0;
}

.sublinkDiv {
  display: flex;
  justify-content: center;
}
