.mainPictureDiv {
  position: relative;
  height: 17rem;
  width: 100vw;
  margin-bottom: 4rem;
  animation: fadeIn ease 3.5s;
  -webkit-animation: fadeIn ease 3.5s;
  -moz-animation: fadeIn ease 3.5s;
  -o-animation: fadeIn ease 3.5s;
  -ms-animation: fadeIn ease 3.5s;
}

.mainPicture {
  height: 100%;
  width: 100vw;
  background-image: url('../images/mainPicture.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  animation: fadeIn ease 3.5s;
  -webkit-animation: fadeIn ease 3.5s;
  -moz-animation: fadeIn ease 3.5s;
  -o-animation: fadeIn ease 3.5s;
  -ms-animation: fadeIn ease 3.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pictureText {
  text-align: center;
  font-size: 1.1rem;
  font-family: 'Ubuntu', sans-serif, bold;
  font-weight: bold;
  width: 90%;
  height: 70%;
  margin-top: 11%;
  margin-left: 5%;
}

.pictureTextDiv {
  position: absolute;
  width: 80vw;
  height: 50%;
  bottom: 23%;
  left: 10%;
  right: 11%;
  background-color: white;
  opacity: 0.7;
}

@media (min-width: 470px) {
  .mainPictureDiv {
    width: 100%;
    height: 25rem;
  }

  .mainPicture {
    width: 100%;
    height: 25rem;
  }

  .pictureTextDiv {
    width: 80%;
    height: 35%;
    bottom: 33%;
  }

  .pictureText {
    font-size: 1.5rem;
    margin-top: 4%;
    margin-left: 15%;
    width: 70%;
  }
}

@media (max-width: 780px) and (min-width: 470px) {
  .pictureText {
    font-size: 1.3rem;
  }
}
