.header {
  text-align: center;
  height: 6rem;
  width: 100vw;
  padding-top: 1.3rem;
}

.logoLink {
  font-size: 1.3rem;
  font-family: 'Ubuntu', sans-serif, bold;
  font-weight: bold;
}

.linkDiv {
  display: flex;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 0.4rem;
  height: 2rem;
}

.secondaryLink {
  font-size: 0.8rem;
  margin-top: 12px;
  margin-left: 10px;
}

.dropdownLink {
  font-size: 0.8rem;
  margin-top: 12px;
  margin-right: 5px;
  cursor: pointer;
}
/* desktop styling */
@media (min-width: 614px) {
  .header {
    height: 12rem;
    padding-top: 3rem;
    width: 100%;
  }

  .linkDiv {
    margin-top: 1.2rem;
  }

  .logoLink {
    padding: 8px;
    font-size: 3.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 3px;
  }

  .secondaryLink {
    font-size: 1.3rem;
    margin: 12px;
    margin-top: 10px;
  }

  .dropdownLink {
    font-size: 1.3rem;
    margin: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 780px) and (min-width: 470px) {
  .logoLink {
    font-size: 1.5rem;
  }
  .linkDiv {
    height: 10rem;
  }
  .header {
    height: 10rem;
  }
}
