.commentForm {
  position: relative;
  width: 70%;
  min-height: 19rem;
  margin-left: 15%;
  margin-top: 2rem;
  border-radius: 2px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.507);
  padding-top: 1px;
}

.formTitle {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 10px;
}

.nameLabel {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 10px;
}

.customerDiv {
  width: 100%;
}

.nameInputbox {
  width: 40%;
  margin-left: 30%;
  height: 1.8rem;
  font-size: 1.2rem;
}

.textDiv {
  width: 100%;
}

.textContent {
  width: 50%;
  margin-left: 25%;
  height: 5rem;
  font-size: 1.1rem;
}

.ratingDiv {
  position: relative;
  width: 50%;
  margin-left: 25%;
  height: 5rem;
}

.startDiv {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 30%;
}

.commentBtn {
  width: 30%;
  margin-left: 35%;
  margin-bottom: 10px;
  height: 2rem;
  font-size: 1.1rem;
  background-color: #028ea0;
  outline: none;
  border: 2px solid #028ea0;
  border-radius: 2px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.commentBtn:hover {
  cursor: pointer;
}
.sectionTitle {
  text-align: center;
  width: 100%;
  font-size: 2.7rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.borderBottom {
  width: 60%;
  margin-left: 20%;
  height: 1px;
  background-color: black;
}
@media (max-width: 1450px) {
  .startDiv {
    left: 20%;
  }
}

@media (max-width: 1120px) {
  .startDiv {
    left: 15%;
  }

  .commentBtn {
    width: 50%;
    margin-left: 25%;
  }
}

@media (max-width: 985px) {
  .startDiv {
    left: 11%;
  }

  .nameInputbox {
    width: 60%;
    margin-left: 20%;
  }

  .textContent {
    width: 60%;
    margin-left: 20%;
  }
}

@media (max-width: 840px) {
  .startDiv {
    left: 1%;
  }

  .ratingDiv {
    width: 60%;
    margin-left: 20%;
  }
}

@media (max-width: 659px) {
  .startDiv {
    left: 6%;
  }

  .ratingDiv {
    width: 80%;
    margin-left: 10%;
  }

  .nameInputbox {
    width: 90%;
    margin-left: 5%;
  }

  .textContent {
    width: 90%;
    margin-left: 5%;
  }

  .commentForm {
    width: 96%;
    margin-left: 3%;
  }

  .commentBtn {
    width: 70%;
    margin-left: 15%;
  }
}

@media (max-width: 428px) {
  .startDiv {
    left: 21.5%;
  }

  .ratingDiv {
    width: 100%;
    margin-left: 0;
  }
  .commentForm {
    width: 96%;
  }
}
