.steelWorkDiv {
  position: relative;
  height: 31rem;
  animation: fadeIn ease 3.5s;
  -webkit-animation: fadeIn ease 3.5s;
  -moz-animation: fadeIn ease 3.5s;
  -o-animation: fadeIn ease 3.5s;
  -ms-animation: fadeIn ease 3.5s;
}

.bckgImg {
  position: absolute;
  width: 100%;
  height: 27rem;
  background-image: url('../images/steelworkBack.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  animation: fadeIn ease 3.5s;
  -webkit-animation: fadeIn ease 3.5s;
  -moz-animation: fadeIn ease 3.5s;
  -o-animation: fadeIn ease 3.5s;
  -ms-animation: fadeIn ease 3.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.steelTitle {
  position: absolute;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  left: 20rem;
  top: 8rem;
  color: white;
  z-index: 2;
}

.modal {
  position: absolute;
  width: 100%;
  height: 27rem;
  z-index: 1;
  background-color: black;
  opacity: 0.6;
}

.steelWorkContent {
  position: relative;
  height: 50rem;
}

.steelWorkPic {
  position: absolute;
  right: 20px;
  top: -20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/steelworkpic.jpeg');
  height: 48%;
  width: 50%;
}
.steelBottomPic {
  position: absolute;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/steelworkBig.png');
  height: 48%;
  width: 100%;
}

.quoteTitle {
  position: absolute;
  text-align: center;
  left: 11.6rem;
  top: 5rem;
  width: 10rem;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #3a3c47;
}

.quoteContent {
  width: 18rem;
  text-align: center;
  font-size: 1.1rem;
  position: absolute;
  left: 8rem;
  top: 9rem;
  font-family: 'Ubuntu', sans-serif;
  color: #3a3c47;
}

@media (max-width: 1155px) {
  .quoteContent {
    left: 2rem;
  }
  .quoteTitle {
    left: 6rem;
  }

  .steelTitle {
    left: 10rem;
  }
}

@media (max-width: 500px) {
  .quoteTitle {
    margin-top: 0;
  }
}
@media (max-width: 870px) {
  .steelWorkDiv {
    margin-top: 2rem;
  }

  .steelWorkContent {
    height: 60rem;
  }

  .steelWorkPic {
    width: 100%;
    height: 30%;
    top: 30%;
    right: 0;
  }

  .steelBottomPic {
    width: 100%;
    height: 30%;
  }

  .quoteTitle {
    top: -1rem;
    width: 80%;
    left: 10%;
  }

  .quoteContent {
    top: 4rem;
    width: 70%;
    left: 15%;
  }

  .steelTitle {
    width: 80%;
    left: 10%;
  }
}

@media (min-width: 1500px) {
  .quoteTitle {
    width: 40%;
    left: 5%;
  }

  .quoteContent {
    width: 30%;
    left: 10%;
  }
}

@media (min-width: 888px) {
  .borderTop {
    width: 70%;
    margin-left: 15%;
    height: 2rem;
    border-top: 1px solid black;
  }
}
