.DrawerToggle {
  width: 35px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 10px;
}

.DrawerToggle div {
  width: 100%;
  height: 2px;
  background-color: white;
}

@media (min-width: 500px) {
  /* .DrawerToggle div {
        width: 90%;
        height: 2px;
        background-color: black;
    } */
}
