.title {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.mapDiv {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
  height: 30rem;
}

.mapDiv {
  line-height: 0;
}

.mapDiv div:nth-child(1n + 0) {
}

@media (max-width: 415px) {
  .mapDiv {
    width: 80%;
    height: 20rem;
  }
}

body {
  height: 1000px;
}
