* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
  z-index: 5;
  height: 100%;
  width: 100%;
  margin: 0;
}

@media (min-width: 614px) {
  html {
    height: auto;
    background-image: url('./images/chris-fowler-m-U6Y8K3i5k-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

body {
  position: relative;
  z-index: 5;
  height: 100%;
  width: 100vw;
  margin: 0;
}
